body {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #fff;
    font-size: 13px;
    color: #6a6c6f;
    background: #e3e8ee;/* #32a9b9;*/
    margin: 0;
    padding: 0;
}

.navbar-default {
    background: #19b7cb;
    background: -webkit-gradient(linear,left top,right top,from(#19b7cb),color-stop(26%,#19b7cb),color-stop(73%,#51647c),to(#4f5d7a));
    background: linear-gradient(to right,#19b7cb 0,#19b7cb 26%,#19b7cb 73%,#19b7cb 100%);
}

.navbar a.navbar-brand img {
    width: auto;
    height: 60px;
}
.navbar a.navbar-brand {
    padding: 10px 0 10px 0;
    height: auto;
    margin-right: 10px;
    margin-top: 7px;
}

ul#custom-nav li {
    margin: 0 30px 0 30px;
}

#header {
    background: #19b7cb;
    background: -webkit-gradient(linear,left top,right top,from(#19b7cb),color-stop(26%,#19b7cb),color-stop(73%,#51647c),to(#4f5d7a));
    background: linear-gradient(to right,#19b7cb 0,#19b7cb 26%,#19b7cb 73%,#19b7cb 100%);
    display: block;
    height: 63px;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 99;
}

#setup-menu-wrapper {
    background-color: #32a9b9;
    position: absolute;
    top: 63px;
    width: 210px!important;
    bottom: 0;
    left: 0;
    overflow: auto;
    display: none;
    z-index: 9;
    min-height: 100%;
}

#side-menu {
    background: #32a9b9;
}

footer {
    background: #19b7cb;
    padding: 15px;
    color: #fff;
    width: 100%;
    height: 50px;
    border-top: 1px solid #e4e5e7;
}


.rg-container {
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.4;
  margin: 0;
  padding: 1em 0.5em;
  color: #222;
}
.rg-header {
  margin-bottom: 1em;
  text-align: left;
}

.rg-header > * {
  display: block;
}
.rg-hed {
  font-weight: bold;
  font-size: 1.4em;
}
.rg-dek {
  font-size: 1em;
}

.rg-source {
  margin: 0;
  font-size: 0.75em;
  text-align: right;
}
.rg-source .pre-colon {
  text-transform: uppercase;
}

.rg-source .post-colon {
  font-weight: bold;
}

/* table */
table.rg-table {
  width: 100%;
  margin-bottom: 0.5em;
  font-size: 1em;
  border-collapse: collapse;
  border-spacing: 0;
}

table.rg-table a {
  color: #1b1b1b;
}


table.rg-table a:hover {
  color: #19b7cb;
}

table.rg-table tr {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-align: left;
  color: #333;
}
table.rg-table thead {
  border-bottom: 3px solid #ddd;
}
table.rg-table tr {
  border-bottom: 1px solid #ddd;
  color: #222;
}
table.rg-table tr.highlight {
  background-color: #dcf1f0 !important;
}
table.rg-table.zebra tr:nth-child(even) {
  background-color: #f6f6f6;
}
table.rg-table th {
  font-weight: bold;
  padding: 0.35em;
  font-size: 0.9em;
}
table.rg-table td {
  padding: 0.35em;
  font-size: 0.9em;
}
table.rg-table .highlight td {
  font-weight: bold;
}
table.rg-table th.number,
td.number {
  text-align: right;
}

/* media queries */
@media screen and (max-width: 600px) {
  .rg-container {
    max-width: 600px;
    margin: 0 auto;
  }
  table.rg-table {
    width: 100%;
  }
  table.rg-table tr.hide-mobile,
  table.rg-table th.hide-mobile,
  table.rg-table td.hide-mobile {
    display: none;
  }
  table.rg-table thead {
    display: none;
  }
  table.rg-table tbody {
    width: 100%;
  }
  table.rg-table tr,
  table.rg-table th,
  table.rg-table td {
    display: block;
    padding: 0;
  }
  table.rg-table tr {
    border-bottom: none;
    border-bottom: 1px solid #ddd;
    margin: 0 0 1em 0;
    padding: 0.5em;
  }
  table.rg-table tr.highlight {
    background-color: inherit !important;
  }
  table.rg-table.zebra tr:nth-child(even) {
    background-color: transparent;
  }
  table.rg-table.zebra td:nth-child(even) {
    background-color: #f6f6f6;
  }
  table.rg-table tr:nth-child(even) {
    background-color: transparent;
  }
  table.rg-table td {
    padding: 0.5em 0 0.25em 0;
    text-align:   center;
  }
  table.rg-table td[data-title]:before {
    content: attr(data-title);
    font-weight: bold;
    display: inline-block;
    content: attr(data-title);
    float: left;
    margin-right: 0.5em;
    font-size: 0.95em;
  }
  table.rg-table td:last-child {
    padding-right: 0;
  }
  table.rg-table td:empty {
    display: none;
  }
  table.rg-table .highlight td {
    background-color: inherit;
    font-weight: normal;
  }
}











div.ExternalUrl {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

div.ExternalUrl a{
      color: #1b1b1b;
      font-size: 15px;

}
div.ExternalUrl a:hover {
    color: #19B7CB;
    font-size: 15px;
}
.divTable.ExternalUrl .divTableCell, .divTable.ExternalUrl .divTableHead {
  border: 0px solid #AAAAAA;
}
.divTable.ExternalUrl .divTableBody .divTableCell {
  font-size: 13px;
  color: #19B7CB;
}
.ExternalUrl .tableFootStyle {
  font-size: 14px;
}
.ExternalUrl .tableFootStyle .links {
	 text-align: right;
}
.ExternalUrl .tableFootStyle .links a{
  display: inline-block;
  background: #1C6EA4;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}
.ExternalUrl.outerTableFooter {
  border-top: none;
}
.ExternalUrl.outerTableFooter .tableFootStyle {
  padding: 3px 5px; 
}
/* DivTable.com */
.divTable{ display: table; }
.divTableRow { display: table-row; }
.divTableHeading { display: table-header-group;}
.divTableCell, .divTableHead { display: table-cell;}
.divTableHeading { display: table-header-group;}
.divTableFoot { display: table-footer-group;}
.divTableBody { display: table-row-group;}

.panel_s .panel-body {
    background: #fff;
    border: 1px solid #19b7cb;
    border-radius: 4px;
    padding: 20px;
    position: relative;
}

#ExternalUrl.panel_s #ExternalUrl.panel-body {
    background: #e3e8ee;
    padding: 20px;
    position: relative;
    border: none;

}

#ExternalUrl.panel_s {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

h3#customers {
    color: #fff;
    padding: 10px;
    background-color: #19b7cb;
}